<div class="md:container mx-auto w-full pt-16">
    <div class="text-center">
        <p class="text-white ml-4 font-bold font-montserrat uppercase text-5xl sm:text-6xl">Edit "<%= @routine.name %>"</p>
    </div>

  <%= render "form", routine: @routine %>
</div>
