<% content_for :title, "Routines" %>

<div class="md:container mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="text-center">
    <p class="font-extrabold text-8xl font-montserrat">Routines.</p>
    <%= link_to "New routine", new_routine_path, class: "px-4 py-1 bg-black text-white font-semibold rounded-full" %>
  </div>

  <div id="routines" class="min-w-full mt-20">
    <% if @routines.any? %>
      <% @routines.each do |routine| %>
        <%= render routine %>
        <p>
          <%= link_to "Show this routine", routine, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
        </p>
      <% end %>
    <% else %>
    <div class="grid h-screen place-content-center bg-white px-4">
  <div class="text-center text-red-50">
    <h1 class="text-9xl font-black text-gray-200">0</h1>

    <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">routines found!</p>

    <p class="mt-4 text-gray-500">create a new one.</p>

    <a
      href="#"
      class="mt-6 inline-block rounded-sm bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:ring-3 focus:outline-hidden">
      Go Back Home
    </a>
  </div>
</div>

    <% end %>
  </div>
</div>
