<div class="md:container mx-auto">
  <div class="min-h-screen text-center p-4 m-4">
    <% if flash[:notice] %>
      <p class="max-w-[20rem] bg-emerald-400/80 outline outline-2 outline-emerald-300 p-2 text-white font-semibold rounded-xl"><%= flash[:notice] %></p>
    <% end %>
    <p class="text-8xl uppercase font-extrabold font-montserrat">Carnage.</p>
    <p class="font-semibold">Train with intent.</p>
    <div class="flex gap-4 mt-2 justify-center w-full">
      <button class="px-4 py-1 bg-black text-white font-semibold rounded-full">routines.</button>
      <button class="px-4 py-1 bg-black text-white font-semibold rounded-full">logbook.</button>
    </div>
  </div>
  <p class="text-4xl font-bold font-montserrat mb-4">Why carnage.</p>
  <div class="pl-2 flex flex-col md:flex-row justify-between gap-8">
    <div class="bg-gray-200 p-4 rounded-xl text-justify">
      <p class="text-2xl font-semibold font-montserrat">100% free.</p>
      <p class="">We believe that everyone has the right to exercise and, by extension, to the 
        best tools available, so carnage and all its features are and will remain completely free of charge. </p>
    </div>
    <div class="bg-gray-200 p-4 rounded-xl">
      <p class="text-2xl font-semibold font-montserrat text-justify">Feature-rich.</p>
      <p class="">Carnage is feature rich, allowing you to customize your workouts exactly to
        your needs. Never worry about having to write down your workouts on spreadsheets ever
        again! </p>
    </div>
    <div class="bg-gray-200 p-4 rounded-xl">
      <p class="text-2xl font-semibold font-montserrat text-justify">Up to date.</p>
      <p class="">Unlike most workout trackers, we stay up to date with the current literature to
        ensure the best possible service for all our users. No more 4 sets of 12 reps.
      </p>
    </div>
  </div>
</div>
</div>