<div id="<%= dom_id exercise_set %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= exercise_set.weight %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Reps:</strong>
    <%= exercise_set.reps %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rir:</strong>
    <%= exercise_set.rir %>
  </p>
</div>
