<div id="<%= dom_id exercise %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= exercise.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= exercise.description %>
  </p>
</div>
