<div class="flex text-center p-4 justify-center gap-4 outline outline-b outline-gray-200 mb-4">
  <%= link_to "Home", root_path, class: "text-gray-800 hover:text-gray-800/75" %>
  <%= link_to "Routines", root_path, class: "text-gray-800 hover:text-gray-800/75" %>
  <% if authenticated? %>
    <%= button_to "Sign Out", session_path, method: :delete, class: "text-red-400 hover:text-red-400/75" %>
  <% else %>
    <%= link_to "Sign in", new_session_path, class: "text-green-400 hover:text-green-400/75" %>
  <% end %>

</div>